.hero {
    padding-block: var(--page-top-offset) 10rem;
    padding-inline: var(--padding-sides);
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../../public/images/home/home-hero-bg.avif");
        background-attachment: fixed;
    font-family: "Cinzel", 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    max-width: var(--md);
    margin-inline: auto;
}

.date {
    font-size: 1.3rem;
    font-weight: 700;
    margin-block-end: 1rem;
}

.title {
    font-size: 6rem;
    font-weight: 400;
    line-height: 5.5rem;
    letter-spacing: 4px;
}

.line {
    margin-inline: auto;
    width: max-content;
    height: 2px;
    margin-block: 2rem 3rem;
    background-color: var(--clr-white);
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: normal;
    }
}