.item {
    padding-block-start: 2.5rem;
    padding-block-end: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.item:hover {
    border-radius: 0.5rem;
    background-color: var(--clr-white);
}

.image {
    margin-inline: auto;
    margin-block-end: 0.5rem;
}

.title {
    padding-inline: 3rem;
}

.price {
    font-size: 1.2rem;
    color: var(--clr-beige-400);
}

@media screen and (max-width: 1024px) {
    .item {
        padding-block: 1.5rem;
    }

    .title {
        padding-inline: 0.5rem;
    }

    .image {
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .title {
        padding-inline: 0.5rem;
    }

    .image {
        max-width: 70%;
    }

    .title {
        font-size: 0.9rem;
    }

    .price {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        padding-inline: 0.5rem;
    }

    .image {
        max-width: 25%;
    }
}