.home {
    min-height: 120vh;
    padding-inline: 3rem;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../../../public/images/home-hero.avif");
        background-attachment: fixed;
}