.section {
    padding-block: 8rem 6rem;
    padding-inline: 1rem;
    background-color: hsl(40, 60%, 93%);
    font-family: var(--ff-cinzel);
    color: var(--clr-black);
    text-align: center;
}

.container {
    max-width: var(--xl);
    margin-inline: auto;
}

.header {
    margin-block-end: 3rem;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.message {
    margin-block-start: 3rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .section {
        padding-block: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 3.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 3rem;
    }

    .header {
        font-size: 2.5rem;
        line-height: 2rem;
    }
}