.container {
    margin-inline: auto;
    background-color: black;
}

@media screen and (max-width: 920px) {
    .nav {
        flex-direction: column;
        gap: 4rem;
    }

    .links {
        display: none;
    }
}