html {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	color: var(--clr-white);
	overflow-x: hidden;
}

@font-face {
	font-family: "Nunito";
	font-weight: 200;
	src: url("../public/fonts/Nunito-Light.ttf");
}

@font-face {
	font-family: "Nunito";
	font-weight: 400;
	src: url("../public/fonts/Nunito-Regular.ttf");
}

@font-face {
	font-family: "Nunito";
	font-weight: 700;
	src: url("../public/fonts/Nunito-Bold.ttf");
}

@font-face {
	font-family: "Cinzel";
	font-weight: 400;
	src: url("../public/fonts/Cinzel-Regular.ttf");
}

:root {
	--clr-beige-400: hsl(28, 46%, 59%);
	--clr-beige-700: hsl(32, 33%, 56%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);

	--page-top-offset: 20rem;
}

body {
	margin: 0;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-moz-selection {
	background-color: var(--clr-beige-700);
}

*::selection {
	background-color: var(--clr-beige-700);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}