html {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	overflow-x: none;
}

@font-face {
	font-family: "Nunito";
	font-weight: 200;
	src: url("../../ecommerce-alcohol/public/fonts/Nunito-Light.ttf");
}

@font-face {
	font-family: "Nunito";
	font-weight: 400;
	src: url("../../ecommerce-alcohol/public/fonts/Nunito-Regular.ttf");
}

@font-face {
	font-family: "Nunito";
	font-weight: 700;
	src: url("../../ecommerce-alcohol/public/fonts/Nunito-Bold.ttf");
}

:root {
	--clr-main: var(--clr-white);

	--clr-beige-400: hsl(28, 46%, 59%);
	--clr-beige-700: hsl(32, 33%, 56%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
}

body {
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: var(--clr-main);
	text-decoration: none;
}